* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.grayed {
    color: gray;
    text-decoration: none;
}

section {
    border: 1px solid black;
}

header {

    width: 90%;


    .header__items__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    //nest everything besides header inside main
}

section.search__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    input {
        border: none;
        outline: none;
    }
}



.avatar_for_large_screens {
    display: none;
}


.main__info {
    display: flex;

    .name__handle__joined {

        span {
            display: block;
        }
    }
}

section.stats__area {
    width: 100%;
}

.number__stats {
    display: flex;
    border: 1px solid black;

    .stats__section {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 576px) {
    #user__image__sm {
        display: none;
    }

    .avatar_for_large_screens {
        display: block;
    }
  }