//light mode colors

$blue: rgba(0, 121, 255, 1);
$blueGray: rgba(105, 124, 154, 1);
$paleBlue: rgba(75, 106, 155, 1);
$dark: rgba(43, 52, 66, 1);
$gray: rgba(43, 52, 66, 1);
$offWhite: rgba(43, 52, 66, 1);
$backgroundLight: rgba(246, 248, 255, 1);
$white: rgba(254, 254, 254, 1);

//dark mode colors

$blue: rgba(0, 121, 255, 1);
$white: rgba(254, 254, 254, 1);
$black: rgba(20, 29, 47, 1);
$veryDarkBlue: rgba(30, 42, 71, 1);

//COLOR DEFINITIONS (LIGHT MODE)
body {
  background-color: $backgroundLight !important;
}

section {
  background-color: $white;
}

.number__stats {
  background-color: $backgroundLight;
}

section {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

//COLOR DEFINITIONS (dark mode)

.dark__background {
  background-color: $black !important;
}

.white__text {
  color: $white !important;
}

.section__dark__background {
  background-color: $veryDarkBlue;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  background-color: $backgroundLight;
  color: #2b3442;
}

.grayed {
  color: gray;
  text-decoration: none;
}

section {
  border: none;
}

header {
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;

  h1 {
    // color: #2b3442;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }

  .header__items__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .mode__switch__button {
      border: none;
      background-color: transparent;
    }

    .mode__switch__to__light,
    .mode__switch__to__dark {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section.search__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;

  .icon__and__search {
    padding: 1rem;
    display: flex;
    // width: 100%;
    max-width: 45%;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 400;

    input {
      border: none;
      outline: none;
      flex: 1;
      max-width: 100%;
    }
  }

  .error__and__button {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    #error {
      color: #f74646;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    button {
      padding: 0.75rem;
      margin-right: 3px;
      border: none;
      border-radius: 0.5rem;
    }
  }
}

.avatar_for_large_screens {
  display: none;
}

section.stats__area {
  width: 100%;
  padding: 24px;
  border-radius: 0.5rem;

  .main__info {
    display: flex;
    border: none;

    .user__name {
      font-size: 1rem;
      font-weight: 700;
    }

    .user__image {
      img {
        border-radius: 50%;
      }
    }

    .name__handle__joined {
      span {
        display: block;
      }
    }
  }

  .bio__container {
    margin-top: 33px;
    margin-bottom: 23px;
  }

  .number__stats {
    display: flex;
    border: none;
    margin-bottom: 24px;
    padding: 18px;
    justify-content: space-between;
    border-radius: 0.5rem;

    .stats__section {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;

      // border: none;
    }
  }

  .links__grid {
    margin-bottom: 32px;

    .single__link__div {
      margin-bottom: 1rem;
    }
  }
}

//TABLET && DESKTOP
@media (min-width: 576px) {
  body {
    justify-content: center;

    header {
      width: 80%;
    }

    main {
      width: 80%;
    }

    section.stats__area {
      padding: 48px;
      .number__stats {
        .stats__section {
          text-align: left !important;
        }
      }

      .links__grid {
        margin: 0;
      }

      #user__image__sm {
        display: none;
      }

      .avatar_for_large_screens {
        display: block;

        img {
          height: 117px !important;
          width: 117px !important;
          border-radius: 50%;
        }
      }
    }
  }
}


@media (min-width: 992px) {
  main {
    width: 50% !important;
  }

  header {
    width: 50% !important;
  }
}
