body {
  background-color: rgb(246, 248, 255) !important;
}

section {
  background-color: rgb(254, 254, 254);
}

.number__stats {
  background-color: rgb(246, 248, 255);
}

section {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.dark__background {
  background-color: rgb(20, 29, 47) !important;
}

.white__text {
  color: rgb(254, 254, 254) !important;
}

.section__dark__background {
  background-color: rgb(30, 42, 71);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  background-color: rgb(246, 248, 255);
  color: #2b3442;
  font-size: 16px;
}

.grayed {
  color: rgb(105, 124, 154);
  text-decoration: none;
}

section {
  border: none;
}

header {
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
header h1 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
header .header__items__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header__items__container .mode__switch__button {
  border: none;
  background-color: transparent;
}
header .header__items__container .mode__switch__to__light,
header .header__items__container .mode__switch__to__dark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section.search__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
section.search__bar .icon__and__search {
  padding: 1rem;
  display: flex;
  max-width: 45%;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 400;
}
section.search__bar .icon__and__search input {
  border: none;
  outline: none;
  flex: 1;
  max-width: 100%;
}
section.search__bar .icon__and__search input::placeholder {
  font-size: 1rem;
}
section.search__bar .error__and__button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
section.search__bar .error__and__button #error {
  color: #f74646;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
section.search__bar .error__and__button button {
  padding: 0.75rem;
  margin-right: 3px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 121, 255);
  color: rgb(254, 254, 254);
}
section.search__bar .error__and__button button:hover {
  background-color: rgb(75, 106, 155);
}

.avatar_for_large_screens {
  display: none;
}

section.stats__area {
  width: 100%;
  padding: 24px;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}
section.stats__area .main__info {
  display: flex;
  border: none;
}
section.stats__area .main__info .user__name {
  font-size: 1.2rem;
  font-weight: 700;
}
section.stats__area .main__info .user__image img {
  border-radius: 50%;
}
section.stats__area .main__info .name__handle__joined span {
  display: block;
}
section.stats__area .bio__container {
  margin-top: 33px;
  margin-bottom: 23px;
}
section.stats__area .number__stats {
  display: flex;
  border: none;
  margin-bottom: 24px;
  padding: 18px;
  justify-content: space-between;
  border-radius: 0.5rem;
}
section.stats__area .number__stats .stats__section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
section.stats__area .links__grid {
  margin-bottom: 32px;
}
section.stats__area .links__grid .single__link__div {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  body {
    justify-content: center;
    font-size: 16px;
  }
  body header {
    width: 80%;
  }
  body main {
    width: 80%;
  }
  body section.stats__area {
    padding: 48px;
  }
  body section.stats__area .number__stats .stats__section {
    text-align: left !important;
  }
  body section.stats__area .links__grid {
    margin: 0;
  }
  body section.stats__area #user__image__sm {
    display: none;
  }
  body section.stats__area .avatar_for_large_screens {
    display: block;
  }
  body section.stats__area .avatar_for_large_screens img {
    height: 117px !important;
    width: 117px !important;
    border-radius: 50%;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 16px !important;
  }
  main {
    width: 50% !important;
  }
  header {
    width: 50% !important;
  }
}

/*# sourceMappingURL=style.css.map */
