//light mode colors

$blue: rgba(0, 121, 255, 1);
$blueGray: rgba(105, 124, 154, 1);
$paleBlue: rgba(75, 106, 155, 1);
$dark: rgba(43, 52, 66, 1);
$gray: rgba(43, 52, 66, 1);
$offWhite: rgba(43, 52, 66, 1);

//dark mode colors

$blue: rgba(0, 121, 255, 1);
$white: rgba(254, 254, 254, 1);
$black: rgba(20, 29, 47, 1);
$veryDarkBlue: rgba(30, 42, 71, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}

.grayed {
  color: gray;
  text-decoration: none;
}

section {
  border: 1px solid black;
}

header {
  width: 90%;
  border: 1px solid black;
  margin-bottom: 2rem;
  margin-top: 2rem;

  h1 {
    color: #2b3442;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }

  .header__items__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .mode__switch__to__light,
    .mode__switch__to__dark {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section.search__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon__and__search {
    padding: 1rem;
    display: flex;
    max-width: 45%;
    overflow: hidden;

    input {
      border: none;
      outline: none;
      flex: 1;
      max-width: 100%;
    }
  }

  .error__and__button {
    display: flex;
    align-items: center;
    // text-align: right;
    gap: 1.5rem;
    // width: 50%;

    .error__container {
      // height: 25px;
      // width: 50px;
    }

    #error {
      font-size: 0.9375rem;
    }

    button {
      padding: 0.75rem;
      margin-right: 3px;
      border: 1px solid black;
      border-radius: 1rem;
    }
  }
}

.avatar_for_large_screens {
  display: none;
}

section.stats__area {
  width: 100%;
  padding: 24px;

  .main__info {
    display: flex;
    border: 1px solid black;

    .user__image {
      img {
        border-radius: 50%;
      }
    }

    .name__handle__joined {
      span {
        display: block;
      }
    }
  }

  .bio__container {
    margin-top: 33px;
    margin-bottom: 23px;
  }

  .number__stats {
    display: flex;
    border: 1px solid black;
    margin-bottom: 24px;
    padding: 18px;
    justify-content: space-between;

    .stats__section {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;
      // border: 1px solid black;
    }
  }

  .links__grid {
    margin-bottom: 32px;

    .single__link__div {
      margin-bottom: 1rem;
    }
  }
}




//TABLET
@media (min-width: 768px) {
}


//DESKTOP
@media (min-width: 1200px) {
  #user__image__sm {
    display: none;
  }

  .avatar_for_large_screens {
    display: block;
  }
}